* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  display: flex !important;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}

.top-heading {
  margin-top: 20px;
}
